
.html {
  height: 100%;
  width: 100%;
}
.body{
  margin: 0%;
  padding: 0%;
  background-color: black;
}


.linktree-title {
  background-color: black;
  font-family: 'Montserrat';
  text-align: center;
  margin: 0 auto;
  color: white;


}

.linktree {
  text-align: center;
  background-color: black;
  text-align: center;
  margin: 0 auto;
  
}
  
  
  .link-button {
    display: flex;
    align-items: center;
    border: 1px solid white;
    border-radius: 4px;
    padding: 0.5em 1em;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center ;
    font-family: 'Montserrat';
    
  }
  
  
  .social-logo {
    width: 2em;
    height: 2em;
    margin-right: 0.5em;
  }
  